/* Estilos para cartões */
.cartao-info {
  margin-bottom: 20px;
}

.cartao-info p {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.cartao-info p strong {
  color: var(--gray);
}

.cartao-info p:last-child {
  margin-bottom: 0;
}

.acoes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .cartao-info p {
    flex-direction: column;
  }
  
  .cartao-info p strong {
    margin-bottom: 4px;
  }
}
